{% extends "layout.html" %}
{% block content %}

  <form action="/charge" method="post">
    <article>
      <label>
        <span>Thanks for Ordering, please choose your payment method:</span>
      </label>
    </article>
    <input type="hidden" value="{{order.id}}" name="order"/></input>
    <input type="hidden" value="{{user.id}}" name="user"/></input>

    <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Truckate Order"
            data-amount="{{order.total_amount()}}"></script>
  </form>
{% endblock %}