{% extends "layout.html" %}
{% block content %}

Avalible: 

<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please enter your OpenID:<br>
        {{form.openid(size=80)}}<br>
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>


	<form action="" method="post" name="order">
	  <fieldset>
	    <legend>Menu:</legend>
	    <span class="help-block">Order Away...</span>
	    {% for item in items %}
	    <label class="checkbox">
      		<input type="checkbox">{{ item.name }}, {{ item.desc }}, ${{item.price / 100}}</input>
      	 </label>
    	{% endfor %}
    </form>

     <button type="submit" class="btn">Submit</button>

{% endblock %}